<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Example App</title>
</head>

<body>
    <h1>Example App: Home</h1>
    <button>클릭 시 알람창이 뜹니다!</button>
    <script src='/static/js/home.js'></script>
</body>

</html>